#page-room {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    header {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo, .logo > img {
                max-height: 4.5rem;
                cursor: pointer;
            }

            > div {
                display: flex;
                gap: 1.6rem;

                button + button {
                    height: 4rem;
                    background: var(--white);
                    color: var(--red);
                    display: flex;

                    img {
                        height: 2.2rem;
                        width: 2.2rem;
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .room-title {
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 2.4rem;
                color: var(--white);
            }

            span {
                margin-left: 1.6rem;
                background: var(--light-orange);
                border-radius: 10rem;
                padding: .8rem 1.6rem;
                color: var(--white);
                font-weight: 500;
                font-size: 1.4rem;
            }
        }

        .question-list {
            .no-questions {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-family: 'Poppins', sans-serif;
                    color: var((--white));
                }
            }
        }
    }
}