.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    background: rgba(4, 9, 17, .8);

    .container {
        width: calc(min(59rem, 90%));
        background: #F8F8F8;
        margin: auto;
        padding: 5rem;
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        img {
            height: 4rem;
            width: 4rem;
        }

        .buttons {
            display: flex;
            margin-top: 2rem;
            gap: .8rem;

            button:nth-child(1) {
                background: var(--white);
                color: var(--grey);

                &:hover, &:active {
                    filter: none;
                }
            }

            button:nth-child(2) {
                background: var(--red);
                color: var(--white);

                &:hover, &:active {
                    filter: none;
                }
            }
        }
    }
}