footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    > span {
        color: var(--white);
        display: flex;
        gap: .4rem;

        img {
            height: 2rem;
        }
    }

    a > img {
        height: 3rem;
    }
}